[importlinter]
root_package = shittim_chest

[importlinter:contract:domain-application-layers]
name = Adapters may depend on application and domain in order
type = layers
layers =
    shittim_chest.runtime
    shittim_chest.config
    shittim_chest.adapters
    shittim_chest.application
    shittim_chest.domain
